body
{
    background-color: rgb(183, 239, 247);
    font-size: 170%;
    text-align: center;
    align-items: center;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.button {

    align-items: center;
}