body
{
    background-color: rgb(183, 239, 247);
    font-size: 170%;
    text-align: center;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.button {

    border-radius: 40%
    border: 5px solid rgb(214, 100, 237);
}